@page "/sample-hand/{Id:int}"
<PageTitle>Index</PageTitle>

@using AvnCanvasHelper
@using Blazor.Extensions
@using Blazor.Extensions.Canvas
@using Blazor.Extensions.Canvas.Canvas2D
@using Blazor.Extensions.Canvas.Model
@using Poker2033.Hand.Data
@using System.Drawing
@inject IJSRuntime JS

<PageTitle>Sample Hand1</PageTitle>
<h3>手牌範例 @Id</h3>
@* <RadzenCard>
    <pre>@pokerHandData</pre>
</RadzenCard> *@
<RadzenTabs>
    <Tabs>
    <RadzenTabsItem Text="手牌記錄">
        <pre>@pokerHandData</pre>
    </RadzenTabsItem>
    <RadzenTabsItem Text="問AI">
        <!-- Empty tab for AI consultation -->
        TODO...
    </RadzenTabsItem></Tabs>
</RadzenTabs>

@code {
    [Parameter] public int Id { get; set; } // Route parameter
    private string pokerHandData = "Loading...";

    protected override void OnInitialized()
    {
        // Fetch the poker hand data based on Id
        pokerHandData = DevData.GetPokerHandByGameID(Id);
    }
}